<section class="no-padding" id="42_life">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-4">
                <a href="https://chainz.cryptoid.info/42/" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/blockchain.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Blockchain Expolrer
                            </div>
                            <div class="project-name">
                                chainz.cryptoid.info
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-4">
                <a href="https://bitcointalk.org/index.php?topic=1502028.0" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/forum.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Forum
                            </div>
                            <div class="project-name">
                                bitcointalk.org
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-4">
                <a href="https://www.cryptopia.co.nz/Exchange?market=42_BTC" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/trade.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Trade
                            </div>
                            <div class="project-name">
                                www.cryptopia.co.nz
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
