<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">
                    <span class="linebreak">Specifications</span>
                </h2>
                <p class="text-faded">
				Max money: 42 coins
                <br>
				Transaction confirmation method: PoS+PoW/Scrypt
                <br>
				Number of transaction/block confirmation: 7/42
                <br>
				Target spacing: 7 mins PoS, 21 mins PoW
				<br>
				Block reward: 0 PoS, 0 + tx fees PoW
                <br>
				Min/Max stake age: 42 hrs/unlimited
                <br>
				Transaction type: Public & <a href="https://bitcointalk.org/index.php?topic=1502028.msg17092343#msg17092343/" target="_blank">Private</a>
				<br>
				P2P Port: 4242 (<a href="https://bitcointalk.org/index.php?topic=1502028.msg17047756#msg17047756" target="_blank">port to open</a>)			
				<br>
				<br>
                <h2 class="section-heading">
                    <span class="linebreak">Links</span>
                </h2>
                <p class="text-faded">
				Multipool: <a href="https://bitcointalk.org/index.php?topic=1502028.msg17644895#msg17644895" target="_blank">Prohashing</a>
				<br>
                <a href="https://bitcointalk.org/index.php?topic=1502028.msg19453980#msg19453980" target="_blank">Full list of available markets</a>
				<br>
				Payment Processor: <a href="https://cointopay.com/" target="_blank">Cointopay</a>
				<br>
				Wallet Generator: <a href="https://42-address.github.io/" target="_blank">42-address</a>, <a href="https://walletgenerator.net/?culture=en&currency=42coin#" target="_blank">Walletgenerator.net</a>
				<br>
				Charts & Tools: <a href="http://coinmarketcap.com/currencies/42-coin" target="_blank">Сoinmarketcap</a>, <a href="https://bitscreener.com/coins/42-coin" target="_blank">Bit$creener</a>, <a href="https://bitinfocharts.com/42coin/" target="_blank">Bitinfocharts</a>, <a href="http://alt19.com/" target="_blank">alt19</a>
                </p>
            </div>
        </div>
    </div>
</section>
