<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">
                    <span class="linebreak">Specifications</span>
                </h2>
                <p class="text-faded">
				<br>
				Block reward: 0 coins
				<br>
				Coin Supply: 133100000 coins
                <br>
				Number of block confirmation: 133
				<br>
				Number of transaction confirmation: 3
				<br>
				Transaction confirmation method: PoS + aux.PoW
				<br>
				Min/Max stake age: 133 hrs/unlimited
                <br>
				Transaction type: Public & Private
                <br>
				Target spacing: 10 mins
                <br>
				P2P Port: 1331			
				<br>
				</p>
            </div>
        </div>
    </div>
</section>
