<section id="bod">
    <div class="container">
        <div class="row no-gutter">
            <div class="col-lg-12 text-center">
               <h2 class="section-heading">Board of Directors</h2>
               <hr class="primary">
            </div>
        </div>
    </div>
<br>
<br>
<br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-md-offset-1 text-center">
                <div class="features-box">
					<h3 class="text-muted"><a href="https://drive.google.com/file/d/1D6kZ9zfHBH0pLGfF4ee485LuCmYpkOyU/preview" width="640" height="480" target="_blank">Adam S. Tracy</a></h3>
                    <p class="text-muted">J.D., M.B.A. Attorney at Law, General Counsel & Managing Partner</p>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="features-box">
					<h3 class="text-muted"><a href="https://drive.google.com/file/d/12vPBkskw0Nv--x2oSjF3qn5_RBx8-HYl/preview" width="640" height="480" target="_blank">Dominic Frei</a></h3>
                    <p class="text-muted">Head of Security of Loomis Intl. A Global leader in valuable logistics & storage </p>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="features-box">
					<h3 class="text-muted"><a href="https://drive.google.com/file/d/19PPjIBV6YSq-s1tECKkl9KHQIQqumBjk/preview" width="640" height="480" target="_blank">John Beebe</a></h3>
                    <p class="text-muted">Founder and former Chairman & CEO of Global e Telecom (Sage EFT)</p>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="features-box">
					<h3 class="text-muted"><a href="https://drive.google.com/file/d/1kjy6TjyXDyLooW38g4ynpLyciYHWHxA6/preview" width="640" height="480" target="_blank">Joseph Choe</a></h3>
                    <p class="text-muted">President & Board of Directors Secretary of Section 8 IOT</p>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="features-box">
					<h3 class="text-muted"><a href="https://drive.google.com/file/d/1foVoqUarUswW3kVWBE-n6jYlgx3UEPkW/preview" width="640" height="480" target="_blank">Kate Gillespie</a></h3>
                    <p class="text-muted">President and Chief Executive Officer of The Green Sheet Inc</p>
                </div>
            </div>
	    </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-md-offset-1 text-center">
                <div class="features-box">
					<h3 class="text-muted"><a href="https://drive.google.com/file/d/1SwgSewf7KRSkW4QX-HhZkrUpIXU6H-XL/preview" width="640" height="480" target="_blank">M. Negahban</a></h3>
                    <p class="text-muted">Co-founder and CTO of beamSmart, the inventor of Live IoT Communication</p>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="features-box">
					<h3 class="text-muted"><a href="https://drive.google.com/file/d/18lJXKR1ih4sHcv7EAJtwL5mzziR0XSc2/preview" width="640" height="480" target="_blank">Marc D. Stern</a></h3>
                    <p class="text-muted">Vice President<br>Bunkering Department<br>Ship Supply Group</p>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="features-box">
					<h3 class="text-muted"><a href="https://drive.google.com/file/d/1UhWLbQrzn82OvOkgpE4UmFO69tN-UTsw/preview" width="640" height="480" target="_blank">Pano Livanos</a></h3>
                    <p class="text-muted">Commercial Director of Operations of Marine Trading Services</p>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="features-box">
					<h3 class="text-muted"><a href="https://drive.google.com/file/d/1ZJkEs8HFUczbBO6zo7JgUgLEpOdbc0kV/preview" width="640" height="480" target="_blank">Ty Julius Kim</a></h3>
                    <p class="text-muted">CEO with experiences in corporate restructuring and economic policy-making</p>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="features-box">
                    <h3>SABR Community</h3>
                    <p class="text-muted">Join the SABR Coin Community and help us to grow!</p>
                </div>
            </div>
        </div>
	</div>
</section>