<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="features-box">
                    <i class="fa fa-4x fa-pie-chart wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>100% Premined</h3>
                    <p class="text-muted">SABR is a completely premined coin, it will never be sold via an ICO</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="features-box">
                    <i class="fa fa-4x fa-check-square-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Completed Emission</h3>
                    <p class="text-muted">The emission is fully completed. You can not mine new coins</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="features-box">
                    <i class="fa fa-4x fa-ship wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Real Usage</h3>
                    <p class="text-muted">Unlike other cryptocurrencies, SABR was created for real business</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="features-box">
                    <i class="fa fa-4x fa-briefcase wow bounceIn text-primary" data-wow-delay=".4s"></i>
                    <h3>Real Economy</h3>
                    <p class="text-muted">SABR-coin is fully backed by real financial organizations
					</p>
                </div>
            </div>
        </div>
    </div>
</section>