<section id="features">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-md-offset-1 text-center">
                <div class="features-box">
                    <i class="fa fa-4x fa-pie-chart wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Fair Distribution</h3>
                    <p class="text-muted">42 has no premine or instamine and has never been sold via an ICO.</p>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="features-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Extremely Rare</h3>
                    <p class="text-muted">The emission is fully completed. You will never see more than 42 coins.</p>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="features-box">
                    <i class="fa fa-4x fa-sort-amount-desc wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Deflationary</h3>
                    <p class="text-muted">Unlike other currencies, 42 supply is slowly decreasing over the time.</p>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="features-box">
                    <i class="fa fa-4x fa-money wow bounceIn text-primary" data-wow-delay=".4s"></i>
                    <h3>Safe for Investors</h3>
                    <p class="text-muted">New coins are not mined - no one exert constant pressure on the price.</p>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="features-box">
                    <i class="fa fa-4x fa-line-chart wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Highest Valued</h3>
                    <p class="text-muted">42 will go into history as the cryptocurrency with the highest face value.</p>
                </div>
            </div>
        </div>
	</div>
</section>
