<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Features</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="features-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Extremely Rare</h3>
                    <p class="text-muted">The emission is fully completed. You will never see more than 42 coins in existence.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="features-box">
                    <i class="fa fa-4x fa-money wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Safe for Investors</h3>
                    <p class="text-muted">New coins are not produced - no one can exert constant pressure on the price.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="features-box">
                    <i class="fa fa-4x fa-sort-amount-desc wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Deflationary Emission</h3>
                    <p class="text-muted">Unlike other cryptocurrencies, 42 supply is slowly reduced over the time.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="features-box">
                    <i class="fa fa-4x fa-line-chart wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Highest Valued Coin</h3>
                    <p class="text-muted">42 will go into history as the cryptocurrency with the highest face value.</p>
                </div>
            </div>
        </div>
    </div>
</section>
