<section id="merchants">
    <div class="container">
        <div class="row no-gutter">
            <div class="col-lg-12 text-center">
               <h2 class="section-heading">Merchants</h2>
               <hr class="primary">
            </div>
        </div>
    </div>
<br>
<br>
    <div class="container-fluid" style="text-align: center;">
        <div class="row">
            <img src="img/pictures/bs.jpg" class="img-inline" style="max-width: 100%; height: auto;" alt="beamSmart">
            <img src="img/pictures/gs.jpg" class="img-inline" style="max-width: 100%; height: auto;" alt="The Green Sheet">
			<img src="img/pictures/mts.jpg" class="img-inline" style="max-width: 100%; height: auto;" alt="Marine Trading Service">
			<img src="img/pictures/ss.jpg" class="img-inline" style="max-width: 100%; height: auto;" alt="Ship Supply">
			<img src="img/pictures/tf.jpg" class="img-inline" style="max-width: 100%; height: auto;" alt="The TracyFirm">
        </div>
    </div>
</section>
