<section id="merchants">
    <div class="container">
        <div class="row no-gutter">
            <div class="col-lg-12 text-center">
               <h2 class="section-heading">Merchants</h2>
               <hr class="primary">
            </div>
        </div>
    </div>
<br>
<br>
    <div class="container-fluid" style="text-align: center;">
        <div class="row">
			<a href="http://www.beamsmart.com/" target="_blank"><img src="img/pictures/bs.jpg" class="img-inline" style="max-width: 100%; height: auto;" alt="beamSmart"></a>
			<a href="http://greensheet.com/" target="_blank"><img src="img/pictures/gs.jpg" class="img-inline" style="max-width: 100%; height: auto;" alt="The Green Sheet"></a>			
			<a href="http://mtsmarine.com/" target="_blank"><img src="img/pictures/mts.jpg" class="img-inline" style="max-width: 100%; height: auto;" alt="Marine Trading Service"></a>
			<a href="http://securecryptopayments.com/" target="_blank"><img src="img/pictures/sc.jpg" class="img-inline" style="max-width: 100%; height: auto;" alt="Secure Cryptopayments"></a>
			<a href="http://www.shipsup.com/" target="_blank"><img src="img/pictures/ss.jpg" class="img-inline" style="max-width: 100%; height: auto;" alt="Ship Supply"></a>
			<a href="https://tracyfirm.com/" target="_blank"><img src="img/pictures/tf.jpg" class="img-inline" style="max-width: 100%; height: auto;" alt="The TracyFirm"></a>
			<a href="http://yesinternational.com/" target="_blank"><img src="img/pictures/ys.jpg" class="img-inline" style="max-width: 100%; height: auto;" alt="Yes International"></a>
        </div>
    </div>
</section>