<section id="news">
    <div class="container">
        <div class="row no-gutter">
            <div class="col-lg-12 text-center">
               <h2 class="section-heading">News</h2>
               <hr class="primary">
            </div>
        </div>
    </div>
<br>
<br>
<br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="features-box" class="text-muted">
                    <h4><a href="https://github.com/SABR-1331/SABR/releases/tag/v0.0.9" target="_blank">New version of SABR Coin wallet is released (May 23, 2018)</a></h4>
                    <h4><a href="https://bitcoinexchangeguide.com/sabr-coin-ico/" target="_blank">SABR: Unique Decentralized Cryptocurrency Or Not? (May 10, 2018)</a></h4>
                    <h4><a href="http://www.rfdtv.com/story/38158840/sabr-releases-coins-onto-cybercurrency-trading-market" target="_blank">SABR Releases Coins onto Cybercurrency Trading Market (May 10, 2018)</a></h4>
                    <h4><a href="http://www.kmov.com/story/38148479/sabr-cryptocurrency-used-in-us-armed-forces-supply-chain-transactions" target="_blank">SABR Used in U.S. Armed Forces Supply-Chain Transactions (May 09, 2018)</a></h4>			
                    <h4><a href="https://www.centralcharts.com/en/news/1483764-secure-cryptopayments-announces-accepting-sabr-coin-as-a-payment-method-throughout-north-america" target="_blank">Secure Cryptopayments accepts SABR as a Payment Method Throughout North America (May 02, 2018)</a></h4>
                    <h4><a href="http://www.globenewswire.com/news-release/2018/05/01/1494095/0/en/SABR-Cryptocurrency-SABR-COIN-TK-Announces-Listing-Coin-on-TradeSatoshi-Exchange.html" target="_blank">SABR is listed on Tradesatoshi Exchange (Apr 27, 2018)</a></h4>
                    <h4><a href="http://www.beamsmart.com/news#" target="_blank">beamSmart identified SABR as their first partner (Apr 12, 2018)</a></h4>
                </div>
            </div>
        </div>
	</div>
</section>