<section id="news">
    <div class="container">
        <div class="row no-gutter">
            <div class="col-lg-12 text-center">
               <h2 class="section-heading">News</h2>
               <hr class="primary">
            </div>
        </div>
    </div>
<br>
<br>
<br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="features-box" class="text-muted">
                    <h4><a href="http://www.globenewswire.com/news-release/2018/05/01/1494095/0/en/SABR-Cryptocurrency-SABR-COIN-TK-Announces-Listing-Coin-on-TradeSatoshi-Exchange.html" target="_blank">SABR is listed on Tradesatoshi Exchange</a></h4>
                    <br>
                    <h4><a href="http://www.beamsmart.com/news#" target="_blank">beamSmart identified SABR as their first partner</a></h4>
                </div>
            </div>
        </div>
	</div>
</section>