<section id="news">
    <div class="container">
        <div class="row no-gutter">
            <div class="col-lg-12 text-center">
               <h2 class="section-heading">News</h2>
               <hr class="primary">
            </div>
        </div>
    </div>
<br>
<br>
<br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div class="features-box">
                    <h4 class="text-muted"><a href="http://www.beamsmart.com/news#" target="_blank">beamSmart identified SABR as their first partner</a></h4>
                </div>
            </div>
        </div>
	</div>
</section>