<section class="no-padding" id="SABR_on-line">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-4">
                <a href="https://chainz.cryptoid.info/SABR/" class="pictures-box" target="_blank">
                    <img src="img/pictures/01.jpg" class="img-responsive" alt="">
                    <div class="pictures-box-caption">
                        <div class="pictures-box-caption-content">
                            <div class="project-category text-faded">
                                Blockchain Explorer
                            </div>
                            <div class="project-name">
                                Coming Soon
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-4">
                <a href="https://coinsmarkets.com/trade-BTC-SABR.htm" class="pictures-box" target="_blank">
                    <img src="img/pictures/02.jpg" class="img-responsive" alt="">
                    <div class="pictures-box-caption">
                        <div class="pictures-box-caption-content">
                            <div class="project-category text-faded">
                                Exchange [BTC]
                            </div>
                            <div class="project-name">
                                coinsmarkets.com
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-4">
                <a href="https://www.livecoin.net/trade/index?currencyPair=SABR%2FUSD" class="pictures-box" target="_blank">
                    <img src="img/pictures/03.jpg" class="img-responsive" alt="">
                    <div class="pictures-box-caption">
                        <div class="pictures-box-caption-content">
                            <div class="project-category text-faded">
                                Exchange [USD]
                            </div>
                            <div class="project-name">
                                Coming Soon
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
