<section id="theicons">
    <div class="container">
        <div class="row">
            <div class="col-lg-12  text-center">
            </div>
        <div class="col-lg-12 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">
                <i class="fa fa-twitter fa-3x wow bounceIn social" data-wow-delay=".1s"></i>
            </a>
            <a href="mailto:{{ site.email }}" target="_top">
                <i class="fa fa-envelope fa-3x wow bounceIn social" data-wow-delay=".1s"></i>
            </a>
            <a href="tox:D19164B797BD2574CA281BFD938CF02EF61E3CDC8A11E48768FE13920765EE7295257B896D1B" target="_top">
                <i class="fa fa-lock fa-3x wow bounceIn social" data-wow-delay=".1s"></i>
            </a>
            <a href="https://kiwiirc.com/client/chat.freenode.net/##42coin" target="_blank">
                <i class="fa fa-terminal fa-3x wow bounceIn social" data-wow-delay=".1s"></i>
            </a>
            <a href="https://github.com/{{ site.github_username }}" target="_blank">
                <i class="fa fa-github fa-3x wow bounceIn social" data-wow-delay=".1s"></i>
            </a>
            <a href="https://github.com/42-coin/42/releases/download/v0.0.8/42-v0.0.8-bdb-linux.zip" target="_blank">
                <i class="fa fa-linux fa-3x wow bounceIn social" data-wow-delay=".1s"></i>
            </a>
            <a href="https://github.com/42-coin/42/releases/download/v0.0.8/42-v0.0.8-bdb-macos.zip" target="_blank">
                <i class="fa fa-apple fa-3x wow bounceIn social" data-wow-delay=".1s"></i>
            </a>
            <a href="https://github.com/42-coin/42/releases/download/v0.0.8/42-v0.0.8-bdb-win.zip" target="_blank">
                <i class="fa fa-windows fa-3x wow bounceIn social" data-wow-delay=".1s"></i>
            </a>
        </div>
    </div>
</section>


<i class="fa fa-lock" aria-hidden="true"></i>